page-category {
  background: #1C252A;
  ion-content > .scroll-content {
    background: #1C252A;
  }
  ion-list.category-list {
    ion-item {
      @extend .secondary-font;
      div.item-inner > div > ion-label {
        @include breakpoint($iphone6){
          font-size: 150% !important;
        };
      }
      &:nth-child(odd) {
        background: #313E46;
        color: white;
      }
      &:nth-child(even) {
        background: #1C252A;
        color: white;
      }
    }
  }
}
